/* Basic reset */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* Style for header and footer */
header, footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* Style for main content */
main {
    padding: 20px;
    text-align: center;
}

/* Styling for headings */
h1, h2 {
    color: #333;
}

/* Styling for paragraphs */
p {
    color: #666;
}

/* Responsive iframe class */
iframe.responsive {
    width: 100%;
    height: auto; /* 根据内容调整高度，可以根据需要调整 */
    border: none;
    overflow-x: auto; /* 允许在X轴方向上滚动 */
    overflow-y: hidden; /* 隐藏Y轴方向上的滚动条 */
}
div.iframe-container {
    width: 100%; /* 确保容器宽度匹配屏幕宽度 */
    overflow-x: scroll; /* 允许水平滚动 */
    overflow-y: hidden; /* 隐藏垂直滚动 */
}


.top-left-link {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}

.top-left-link a {
    color: #000;
    text-decoration: none;
    font-size: 14px; /* Further reduced font size */
    font-weight: bold; /* Bolder text */
    display: block; /* Makes the link block level, allowing for margin below */
    margin-bottom: 2em; /* Adds space below the link */
}

.top-left-link a:hover {
    text-decoration: underline;
}